.idea
.vscode
test_data_dir/
contracts/*
environments/*.toml
Vagrantfile
vagrant*.sh
.vagrant
test_scripts/
vulcanizedb
postgraphile/build/
postgraphile/node_modules/
postgraphile/package-lock.json
vulcanizedb.log
db/migrations/20*.sql
plugins/*.so
postgraphile/*.toml
postgraphile/schema.graphql
vulcanizedb.pem
